#headeradmin {
	background-color: orange;
}

#headerawal {
	background-color: orange;
}

#headerpetugas {
	background-color: orange;
}

#color{
	color: black;
}

#headerlogin{
	background-color: orange;
}

#tambahcolor{
	background-color: orange; color: white;
}